extends layout

block content
	h1 Place Your Order Here
	div
	form(action="/ingredient/create", method="POST")
	each order, i in orderlist
		input(type=checkbox)
		div(value=order) #{order.name} at #{order.cost}