extends layout

block content
	script(src='http://code.jquery.com/jquery.js')
	script(src='/javascripts/formscript.js')
	h1 Place Your Order Here
	div
	form(id="orderform")
		| Name:	
		input(type="text", name="cname")
		p Select your ingredients:
		each ing, i in inglist
			div(value=ing) 
				input(type="checkbox", name="ingredient", value="#{ing.name}")
				| #{ing.name} for $ #{ing.cost}
		br
		input(type="submit", name="Submit", value="Submit Order")
